<app-navbar></app-navbar>
<section class="py-5 pt-0 text-darkk bg-white shadow-lg position-relative announce-colorr">
    <div class="container-fluid px-2 text-center py-3">
        <h4 class="mb-4 Heading-font-family pt-1">{{ 'Contact_Us' | translate }}</h4>
    </div>
</section>
<div class="container-fluid p-0 m-0 py-3">
    <div class="row justify-content-center g-4 newpe">
        <div class="row g-4">
            <div class="container-fluid py-3">
                <div class="row pt-3 p-2">
                    <div class="col-12 col-md-6 col-lg-12 mb-5">
                        <div class="card shadow-lg p-4 border-0 bg-white rounded ">
                            <h4 class="card-title border-bottom border-3 pb-2 text-center pt-1"><strong>{{ 'Chhattisgarh_Medical_Services' | translate }}</strong></h4>
                            <div class="card-body border rounded px-0 pt-2 pb-3 bg-light"
                                style="height: 300px; overflow: hidden; position: relative;">

                                <div class="mb-3 Fon-family" style="text-align: justify;">
                                    <p class="text-center Fon-family">4th Floor, C.G Housing Board Commercial Complex,
                                        South East
                                        Corner
                                        Sector 27, Atal Nagar, Nava Raipur (CG) Pin 492015.</p>
                                        <span class="text-center justify-content-center d-flex">
                                          <strong class="text-dark ">Mobile No.:-&nbsp;</strong> 
                                          <p class="card-text">
                                            <a href="tel:+910771-4280016">+91 0771-4280016</a> ,
                                            <a href="tel:+910771-4280018">+91 0771-4280018</a>
                                          </p>
                                          <!-- <a class=" "
                                              href="https://cgmsc.gov.in/">
                                              https://cgmsc.gov.in/</a> -->
                                      </span>

                                    <span class="text-center justify-content-center d-flex mt-3 ">
                                        <strong class="text-dark">Email:-&nbsp;</strong><a class=""
                                            href="mailto:cgmsc.ltd@gov.in">cgmsc.ltd&#64;gov.in</a>
                                    </span> <br>
                                    <span class="text-center justify-content-center d-flex">
                                        <strong class="text-dark ">Website:-&nbsp;</strong> <a class=" "
                                            href="https://cgmsc.gov.in/">
                                            https://cgmsc.gov.in/</a>
                                    </span>
                                   
 <!-- Chhattisgarh Medical Services Corporation Limited
4th Floor, C.G Housing Board Commercial Complex, South East Corner
Atal Nagar
Nava Raipur - 492015
Phone No :- 0771-4280016,0771-4280018 -->
<!-- e-mail (Infrastructure Division ) engg.cgmsc@gov.in -->
<!-- e-mail engg.cgmsc@gov.in -->
<!-- Website :cgmsc.gov.in -->





                                    <!-- Contact Us
  Chhattisgarh Medical Services Corporation Limited
4th Floor, C.G Housing Board Commercial Complex, South East Corner
Atal Nagar
Nava Raipur - 492015
Phone No :- 0771-4280016,0771-4280018
e-mail (Infrastructure Division ) engg.cgmsc@gov.in
e-mail engg.cgmsc@gov.in
Website :cgmsc.gov.in -->
                                    <!-- Contact Us -->
 
                                    <!-- <div class="text-end mt-3">
                        <a class="btn btn-outline-primary btn-sm d-inline-flex align-items-center" routerLink="/TenderDrug">
                          <i class="bi bi-eye me-2"></i> View More...
                        </a>
                      </div> -->
                                </div>
                            </div>

                            <section class="py-4 " >
                                <h4 class="mb-4 text-center fw-semibold Heading-font-family pt-1 ">{{ 'Office Location' | translate }}</h4>
                              
                                <div class="my-1 border rounded bg-light">
                                  <!-- Nav tabs -->
                                  <ul class="nav nav-tabs border-0 p-2" id="myTab" role="tablist" style="border-bottom: 2px solid #f5f5f5;">
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link active theme-navbar" id="tab11-tab" data-bs-toggle="tab" data-bs-target="#tab11" type="button"
                                        role="tab">
                                        {{ 'Head Office' | translate }}  
                                      </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="tab12-tab" data-bs-toggle="tab" data-bs-target="#tab12" type="button" role="tab">
                                        {{ 'Drug Warehouse' | translate }}    
                                        <!-- Warehouse Location -->
                                      </button>
                                    </li>
                              
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="tab13-tab" data-bs-toggle="tab" data-bs-target="#tab13" type="button" role="tab">
                                        {{ 'Infrastructure Division' | translate }}  
                                        <!-- Division Office -->
                                      </button>
                                    </li>
                                    <!-- <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tab13-tab" data-bs-toggle="tab" data-bs-target="#tab13" type="button"
                                      role="tab">
                                      Other
                                    </button>
                                  </li> -->
                                  </ul>
                              
                                  <!-- Tab content -->
                                  <div class="tab-content pt-4 pb-3 " *ngIf="isOnline == true; else noTracks">
                                    <div class="tab-pane fade show active" id="tab11" role="tabpanel">
                                      <!-- <h5 class="text-center gradient-heading">Head Office Location</h5> -->
                                      <div class="container-fluid Card ">
                                          <google-map
                                          height="400px"
                                          width="100%"
                                          [center]="center"
                                          [zoom]="zoom">
                                        
                                          <map-marker
                                            [position]="center"
                                            [label]="'H'"
                                            [title]="'My Marker'"
                                            [options]="markerOptions"
                                            #marker="mapMarker"
                                            (mapClick)="openInfo(marker)"
                                           >
                                          </map-marker>
                                          <map-info-window  #infoWindow="mapInfoWindow">
                                            <h3 class="border-bottom">CGMSCL head office</h3>
                                            <p><strong>4QPP+MMC</strong> </p>
                                            <p><strong>Sector 27, Nawagaon Parsatti</strong></p>
                                            <p><strong>Atal Nagar-Nava Raipur, Chhattisgarh 492101  India</strong> </p>
                                            </map-info-window>
                                          <!-- <map-info-window  #infoWindow="mapInfoWindow">
                                            <strong>CGMSC head office</strong><br />
                                            4QPP+MMC<br />
                                            Sector 27, Nawagaon Parsatti<br />
                                            Atal Nagar-Nava Raipur, Chhattisgarh 492101<br />
                                            India
                                          </map-info-window> -->
                                        </google-map>
                                      </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab12" role="tabpanel" >
                                      <!-- <h5 class="text-center gradient-heading">Drug Warehouse Locations</h5> -->
                                      <!-- <ng-container (click)="GetWarehouse_Location()" (click)="logout()"> -->
                              
                                      
                                      <div class="container-fluid Card">
                                        <!-- [center]="center"
                                        [zoom]="zoom"
                                        [width]="800"
                                        [height]="500" -->
                                        
                                     <app-warehouse-location></app-warehouse-location>
                                      </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab13" role="tabpanel">
                                      <!-- <h5 class="text-center gradient-heading">Infrastructure Division Locations</h5> -->
                                      <div class="container-fluid Card">
                                        <app-division-office-location></app-division-office-location>
                                      </div>
                                    </div>
                                  </div>
                                  <ng-template #noTracks class="tab-content pt-4" >
                                    <h3 class="text-center   ">No Internet Connection, Please check your network connection.</h3>
                                    </ng-template>
                                </div>
                              </section>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>