<app-navbar></app-navbar>
<section class="py-5 pt-0 bg-light shadow-lg position-relative ">
    <div class="container-fluid px-2 text-center py-3">
        <h2 class="mb-3 Heading-font-family">Procurement Policy Of Equipments</h2>
    </div>
</section>
<div class="container-fluid p-0 m-0 mb-5"> <!-- Use negative margin if you want overlap -->
    <div class="row justify-content-center g-4 newpe">
        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-12 col-md-12 col-lg-12">
                <section class="container-fluid py-2">
                    <!-- <div class="card shadow p-2">
                       <h4><strong class="text-align justify-content-center d-flex ">Our Team</strong></h4>
                       
                    </div> -->
                    
                </section>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <section class="container-fluid py-2">
                    <!-- <div class="card shadow p-2">
                       <h4><strong class="text-align justify-content-center d-flex ">Our Team</strong></h4>
                       
                    </div> -->
                    <div class="card border-0 shadow p-2">
                        <h2 class="text-center justify-content-center d-flex fw-bold mb-3 ">Equipments</h2>
                        <!-- <h2 class="text-center justify-content-center d-flex fw-bold mb-3 ">Operational Policy of Equipments</h2> -->
                        <!-- <strong class="text-align justify-content-center d-flex ">Drug Tenders</strong> -->
                       
                          <p class="p-2 text-dark" >
                            Based on the indents received from the Directorate of Heath Services, Directorate of Medical Education, and request from other agencies like the local bodies etc. and depending on the budget availability the procurement plan is prepared and finalized. There will be different level of users to prepare the Procurement list, Verify the same and to approve the plan. The quantity to be procured, the distribution to the warehouses and the supply schedule etc. are finalised at this stage and procurement plan is taken for the tendering.
                        </p>
                          <h4 class="text-centerr  mt-5 mb-3">
                            Operational policy with respect to different component is follows:
                          </h4>
                          <ul class="list-unstyled  p-2">
                            <li class="mb-3">
                              <i class="bi bi-record2-fill text-success me-2"></i>
                              An Essential Equipment List may be formed which should consist of common and important medical equipment required for various department at various level. A state level multi-disciplinary committee may be formed which will decide the items to be included in EEL. The committee will also decide the specification for the items in EEL, the list will be dynamic in nature. The EEL may further divide in to two groups Group-A and Group-B. Group-A should consist of items those are relatively costly & require maintenance. Other equipments will be kept in Group –B.
                            </li>
                            <li class="mb-3">
                              <i class="bi bi-record2-fill text-success me-2"></i>
                              CGMSC will keep active rate contracts for Group-A items (As done by CSIDC and DGS &D). The health facility may place order directly to the supplier based on their requirement and availability of fund with a formal intimation to CGMSC. This will be helpful in need based organized procurement and accountability sharing. In one hand rates of essential equipments so that whenever there is a need it can be procured easily and in other hand problems like non-availability of space/users/utility can be addressed by fixing accountability on the facility. Group – B items procurement should be de-centralized. CGMSC will be responsible for carrying out maintenance of Group –A equipments
                            </ul>
                            <h6 class="mb-3">
                              <i class="bi bi-record2-fill text-success me-2"></i>
                              CGMSC will also procure Non-Group-A item even the
                               item which is/are not in EEL at recommendation of Secretary Health, provided total procurement
                                (Estimated) for the &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp; item is worth more than Rs.15 lakhs. In such cases, following points should be
                                 adhered:
                              
                            </h6>
                              <ul class="list-unstyled  p-2">
                                <li class="mb-3">
                                    <!-- <i class="bi bi-arrow-right-circle-fill text-success"></i> -->
                                    <i class="bi bi-arrow-right text-success me-2"></i>
                                <!-- <i class="bi bi-record2-fill text-success me-2"></i> -->
                                Indent should clearly indicate specification of item, Quantity, detail address of consignee and contact no. of competent person (should also be indicated).
                            </li>
                          <li class="mb-3">
                            <i class="bi bi-arrow-right text-success me-2"></i>
                            Indent should be sent in both hardcopy (signed by Director) and online. Equipments specifications must be enclosed in MS-WORD or EXCEL format.
                        </li>
                            <li class="mb-3">
                                <i class="bi bi-arrow-right text-success me-2"></i>
                            Before indenting equipments, the directorates must ensure site readiness and availability of competent person for operating the equipment.
                         </li>
                          <li class="mb-3">
                            <i class="bi bi-arrow-right text-success me-2"></i>
                            If indent is for multiple equipments/items, the listing should be done on priority basis; 
                            highest priority equipment should be placed in Sl. No 1 and so on. Date before which the 
                           &nbsp;  &nbsp;  &nbsp;  equipment is required should also be mentioned. This will be helpful in procurement planning.
                        </li>
                        </ul>

                          <!-- <h4 class="text-center fw-bold mt-3 mb-3">Invitation Of Tenders :</h4>
                <p class="text-dark p-2">
                    Tenders will be invited after adequate publicity through State and national level news papers as well as on department website. CGMSC follows e-procurement process for tendering. Bids are invitated through online portal and after closing of tender, 1st pre-qualification bid will be evaluated on the basis of evaluation criteria which is defined in tender document. List of eligible bidders are displayed in website,after this technical  bid will be evaluated on the basis of evaluation
                    criteria mentioned in tender document.Subsequently, price bids of all technically qualified bidders will be opened.  </p>
                          <h4 class="text-center fw-bold mt-3 mb-3"> Inspection of Drug Manufacturing Company:</h4>
                <p class="text-dark p-2">
                    Quality of drugs should be given highest priority.As a part of tender evaluation MD, CGMSC may depute a team including official from state FDA along with CGMSC official or any senior CGMSC official to inspect manufacturing units with a defined protocol. Manufacturing facility, which is not up-to the benchmark standard, may be rejected. Once rejected the facility will be declared in-eligible for participation in tender up-to two subsequent years.  </p>
                          <h4 class="text-center fw-bold mt-3 mb-3">Demonstration of Medical Equipments:</h4>
                <p class="text-dark p-2">
                    Before finalization of vendors/suppliers for medical equipment demonstration the quoted/offered models may be taken. Decision to call for demonstration will be taken by MD, CGMSC depending up-on nature of equipment.A team of experts deputed by indenter/ constituted by appropriate authority of the state along with biomedical engineers of CGMSC will evaluate the equipment. The demonstrations can also be taken at bidder’s site depending up-on nature of equipment.  </p>
                          <h4 class="text-center fw-bold mt-3 mb-3">Finalization of vendor:</h4>
                <p class="text-dark p-2">
                    Tenders/vendors can be finalized irrespective of no. of bids obtained however 
                    sufficient proof for price justification should be established in case of single bid/offer.
                     Price of drugs depends upon various factors such as estimated requirement, distance between
                      manufacturing sites and delivery locations, payment terms, source of procurement (QA) etc. 
                    </p>
                          <h4 class="text-center fw-bold mt-3 mb-3">Award criteria:</h4>
                <p class="text-dark p-2">
                    Contract will be awarded to the qualified Bidder whose bid has been determined to be substantially responsive and has been determined to be the lowest evaluated bid, subject to the bidder agrees to all terms and condition of the tender. In case of non- acceptance of agreement the Purchaser will proceed to the next-lowest evaluated Bidder. This contract will be called Principal Contract. MD,CGMSC will have the rights to call other eligible firms, those are willing to match L-1 Rates. If such firms are found, then the order quantity may be dispersed in ratio of 60% for L-1 & 40% for those who match L-1 Bidder (i.e. nearest to L-1 Bidder). 
                    </p>
                          <h4 class="text-center fw-bold mt-3 mb-3">Rate contract :</h4>
                <p class="text-dark p-2">
                    The tenders floated by CGMSC will also be ‘Rate Contract’. The rates quoted by the bidder shall remain valid for one year from the date of signing of contract and the purchaser will have the option to extend the period of price firmness for a further period of up to six months, during which CGMSC or any of the user Institutions under the Government of Chhattisgarh, may place order for the supply of same item procured under this tender. Being Rate contract tenders, there will be no limit to procurement or repeat orders. 
                    </p> -->
            
                
              
                <!-- Org Structure -->
                <!-- <h3 class="text-center text-danger fw-bold mt-3">Organizational Structure</h3>
                <img src="\assets\images\organogram 2014.jpg" alt="Image 2"> -->
            
            
               
                    </div>

                </section>
            </div>
           
        </div>
    </div>
</div>

