<app-navbar></app-navbar>
<!-- <section class="py-5 pt-0 text-darkk bg-white shadow-lg position-relative ">
    <div class="container-fluid px-2 text-center py-3">
        <h3 class="mb-3 Heading-font-family">Gallery</h3>
    </div>
</section> -->
<div class=" card container-fluid text-center" style="background-color: aliceblue;">
  <h3 class="mb-3 Heading-font-family pt-1">{{ 'Gallery' | translate }}</h3>
</div>


<div class="card">
  <div class="container-fluid">

    <h4 class="text-start border-bottom mb-4">{{ 'NEWS' | translate }}</h4>

    <!-- <div id="newsCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel"> -->
    <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel" *ngIf="groupedNews.length > 0; else OtherData">
      <div class="carousel-inner" >
        <div *ngFor="let group of groupedNews; let i = index" class="carousel-item" [class.active]="i === 0">
          <div class="row justify-content-center">
            <div *ngFor="let img of group; let j = index" class="col-md-4 mb-3">
              <div class="card h-100 shadow-md border-0 theme-navbarr card-hover-zoom"
                style="background-color: rgb(185, 186, 187);">
                <img [src]="img" class="card-img-top border-0 p-1" alt="News Image"
                  style="height: 200px; object-fit: cover;" (click)="openModal(i * 3 + j)" loading="lazy">
                <!-- <div class="card-body">
                          <h6 class="card-title text-center">News {{ i * 3 + group.indexOf(img) + 1 }}</h6>
                        </div> -->
              </div>
            </div>

          </div>
        </div>

      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    <ng-template #OtherData class="tab-content pt-4" > 
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title mb-0">No data available at the moment.</h3>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- events -->
  <div class="pb-5">
    <h4 class="d-flex justify-content-between align-items-center border-bottom p-2" (click)="isCollapsed = !isCollapsed"
      role="button" aria-expanded="false" aria-controls="collapseExample">
      {{ 'EVENT' | translate }}
      <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </h4>
    <!-- <p>  <h4 class="text-start border-bottom mb-4">News</h4> -->
    <!-- <h4 class="text-start border-bottom p-2"  (click)="isCollapsed = !isCollapsed" role="button" aria-expanded="false" aria-controls="collapseExample">
      Event
    </h4> -->
    <!-- <button class="btn btn-primary" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="collapseExample">
 Event 
    </button> -->
    <!-- </p> -->
    <div [collapse]="isCollapsed">
      <div class="card card-body">
        <div class="containerr py-5">
          <div class="tab-pane fader" id="tab10" role="tabpanel" *ngIf="events.length > 0; else OtherData">
            <!-- <h5 class="gradient-heading">{{'Events' | translate }}</h5> -->
            <div class="row g-2">
              <div class="col-12 col-sm-6 col-md-2 " *ngFor="let img of events; let i = index">
                <img [src]="img" class="img-fluid rounded w-100 h-100 img-hover-zoom" alt="Gallery Image"
                  style="cursor: pointer;" (click)="openModal1(i)" loading="lazy">
              </div>

            </div>
          </div>
          <ng-template #OtherData class="tab-content pt-4" > 
            <div class="card text-center">
              <div class="card-body">
                <h3 class="card-title mb-0">No data available at the moment.</h3>
              </div>
            </div>
          </ng-template>
          <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
          
                <div *ngFor="let group of groupedNews; let i = index" class="carousel-item" [class.active]="i === 0">
                  <div class="row justify-content-center">
          
                    <div *ngFor="let img of group" class="col-12 col-md-4 mb-3">
                      <div class="card h-100 shadow-sm">
                        <img [src]="img" class="card-img-top" alt="News Image" loading="lazy">
                        <div class="card-body">
                          <h5 class="card-title">News {{ i * 3 + group.indexOf(img) + 1 }}</h5>
                          <p class="card-text">This is a short news description.</p>
                        </div>
                      </div>
                    </div>
          
                  </div>
                </div>
          
              </div>
          
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Drug -->
  <div class="pb-5">
    <h4 class="d-flex justify-content-between align-items-center border-bottom p-2"
      (click)="isCollapsed1 = !isCollapsed1" role="button" aria-expanded="false" aria-controls="collapseExample">
       {{ 'DRUG' | translate }}
      <i class="bi" [ngClass]="isCollapsed1 ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </h4>

    <!-- <h4 class="text-start border-bottom p-2"  (click)="isCollapsed1 = !isCollapsed1" role="button" aria-expanded="false" aria-controls="collapseExample">
        DRUG
      </h4> -->
    <!-- <button class="btn btn-primary" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="collapseExample">
   Event 
      </button> -->
    <!-- </p> -->
    <div [collapse]="isCollapsed1">
      <div class="card card-body">
        <div class="containerr py-5">
          <div class="tab-pane fader" id="tab10" role="tabpanel" *ngIf="drugs.length > 0; else OtherData">
            <!-- <h5 class="gradient-heading">{{'Events' | translate }}</h5> -->
            <div class="row g-2">
              <div class="col-12 col-sm-6 col-md-2 " *ngFor="let img of drugs; let i = index">
                <img [src]="img" class="img-fluid rounded w-100 h-100 img-hover-zoom" alt="Gallery Image"
                  style="cursor: pointer;" (click)="openModalDrug(i)" loading="lazy">
              </div>

            </div>
          </div>
          <ng-template #OtherData class="tab-content pt-4" > 
            <div class="card text-center">
              <div class="card-body">
                <h3 class="card-title mb-0">No data available at the moment.</h3>
              </div>
            </div>
          </ng-template>
          <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
            
                  <div *ngFor="let group of groupedNews; let i = index" class="carousel-item" [class.active]="i === 0">
                    <div class="row justify-content-center">
            
                      <div *ngFor="let img of group" class="col-12 col-md-4 mb-3">
                        <div class="card h-100 shadow-sm">
                          <img [src]="img" class="card-img-top" alt="News Image" loading="lazy">
                          <div class="card-body">
                            <h5 class="card-title">News {{ i * 3 + group.indexOf(img) + 1 }}</h5>
                            <p class="card-text">This is a short news description.</p>
                          </div>
                        </div>
                      </div>
            
                    </div>
                  </div>
            
                </div>
            
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </button>
              </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="pb-5">
    <h4 class="d-flex justify-content-between align-items-center border-bottom p-2"
      (click)="isCollapsed2 = !isCollapsed2" role="button" aria-expanded="false" aria-controls="collapseExample">
      {{ 'INFRASTRUCTURE' | translate }} 
      <i class="bi" [ngClass]="isCollapsed2 ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </h4>

    <!-- <h4 class="text-start border-bottom p-2"  (click)="isCollapsed2 = !isCollapsed2" role="button" aria-expanded="false" aria-controls="collapseExample">
      INFRASTRUCTURE
        </h4> -->
    <!-- <button class="btn btn-primary" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="collapseExample">
        Event 
        </button> -->
    <!-- </p> -->
    <div [collapse]="isCollapsed2">
      <div class="card card-body">
        <div class="containerr py-5">
          <div class="tab-pane fader" id="tab10" role="tabpanel" *ngIf="Infrastructure.length > 0; else OtherData">
            <!-- <h5 class="gradient-heading">{{'Events' | translate }}</h5> -->
            <div class="row g-2">
              <div class="col-12 col-sm-6 col-md-2 " *ngFor="let img of Infrastructure; let i = index">
                <img [src]="img" class="img-fluid rounded w-100 h-100 img-hover-zoom" alt="Gallery Image"
                  style="cursor: pointer;" (click)="openModalCivil(i)" loading="lazy">
              </div>

            </div>
          </div>
          <ng-template #OtherData class="tab-content pt-4" > 
            <div class="card text-center">
              <div class="card-body">
                <h3 class="card-title mb-0">No data available at the moment.</h3>
              </div>
            </div>
          </ng-template>
          <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
          
                <div *ngFor="let group of groupedNews; let i = index" class="carousel-item" [class.active]="i === 0">
                  <div class="row justify-content-center">
          
                    <div *ngFor="let img of group" class="col-12 col-md-4 mb-3">
                      <div class="card h-100 shadow-sm">
                        <img [src]="img" class="card-img-top" alt="News Image" loading="lazy">
                        <div class="card-body">
                          <h5 class="card-title">News {{ i * 3 + group.indexOf(img) + 1 }}</h5>
                          <p class="card-text">This is a short news description.</p>
                        </div>
                      </div>
                    </div>
          
                  </div>
                </div>
          
              </div>
          
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="pb-5">
    <h4 class="d-flex justify-content-between align-items-center border-bottom p-2"
      (click)="isCollapsed3 = !isCollapsed3" role="button" aria-expanded="false" aria-controls="collapseExample">
      {{ 'EQUIPMENT' | translate }}
      <i class="bi" [ngClass]="isCollapsed3 ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </h4>
    <!-- </p> -->
    <div [collapse]="isCollapsed3">
      <div class="card card-body">
        <div class="containerr py-5">
          <div class="tab-pane fader" id="tab10" role="tabpanel" *ngIf="equipment.length > 0; else OtherData">
            <!-- <h5 class="gradient-heading">{{'Events' | translate }}</h5> -->
            <div class="row g-2">
              <div class="col-12 col-sm-6 col-md-2 " *ngFor="let img of equipment; let i = index">
                <img [src]="img" class="img-fluid rounded w-100 h-100 img-hover-zoom" alt="Gallery Image"
                  style="cursor: pointer;" (click)="openModalEquipment(i)" loading="lazy">
              </div>
            </div>
          </div>
          <ng-template #OtherData class="tab-content pt-4" > 
            <div class="card text-center">
              <div class="card-body">
                <h3 class="card-title mb-0">No data available at the moment.</h3>
              </div>
            </div>
          </ng-template>
          <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
          
                <div *ngFor="let group of groupedNews; let i = index" class="carousel-item" [class.active]="i === 0">
                  <div class="row justify-content-center">
          
                    <div *ngFor="let img of group" class="col-12 col-md-4 mb-3">
                      <div class="card h-100 shadow-sm">
                        <img [src]="img" class="card-img-top" alt="News Image" loading="lazy">
                        <div class="card-body">
                          <h5 class="card-title">News {{ i * 3 + group.indexOf(img) + 1 }}</h5>
                          <p class="card-text">This is a short news description.</p>
                        </div>
                      </div>
                    </div>
          
                  </div>
                </div>
          
              </div>
          
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="NewimageModal" tabindex="-1" aria-labelledby="imageModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body p-0 position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal"
          aria-label="Close"></button>

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 start-0 translate-middle-y"
          (click)="prevImage()" style="z-index: 1050;">
          <i class="bi bi-chevron-left fs-3"></i>
        </button>

        <img [src]="selectedImage" class="img-fluid w-100 h-100" style="object-fit: contain;" alt="Selected Image" />

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 end-0 translate-middle-y"
          (click)="nextImage()" style="z-index: 1050;">
          <i class="bi bi-chevron-right fs-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="EventimageModal" tabindex="-1" aria-labelledby="imageModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body p-0 position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal"
          aria-label="Close"></button>

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 start-0 translate-middle-y"
          (click)="prevImage1()" style="z-index: 1050;">
          <i class="bi bi-chevron-left fs-3"></i>
        </button>

        <img [src]="selectedImage1" class="img-fluid w-100 h-100" style="object-fit: contain;" alt="Selected Image" />

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 end-0 translate-middle-y"
          (click)="nextImage1()" style="z-index: 1050;">
          <i class="bi bi-chevron-right fs-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="DrugimageModal" tabindex="-1" aria-labelledby="imageModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body p-0 position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal"
          aria-label="Close"></button>

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 start-0 translate-middle-y"
          (click)="prevImageDrug()" style="z-index: 1050;">
          <i class="bi bi-chevron-left fs-3"></i>
        </button>

        <img [src]="selectedImageDrug" class="img-fluid w-100 h-100" style="object-fit: contain;"
          alt="Selected Image" />

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 end-0 translate-middle-y"
          (click)="nextImageDrug()" style="z-index: 1050;">
          <i class="bi bi-chevron-right fs-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="InfrastructureimageModal" tabindex="-1" aria-labelledby="imageModalLabel1"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body p-0 position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal"
          aria-label="Close"></button>

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 start-0 translate-middle-y"
          (click)="prevImageCivil()" style="z-index: 1050;">
          <i class="bi bi-chevron-left fs-3"></i>
        </button>

        <img [src]="selectedImageCivil" class="img-fluid w-100 h-100" style="object-fit: contain;"
          alt="Selected Image" />

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 end-0 translate-middle-y"
          (click)="nextImageCivil()" style="z-index: 1050;">
          <i class="bi bi-chevron-right fs-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="equipmentimageModal" tabindex="-1" aria-labelledby="imageModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body p-0 position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal"
          aria-label="Close"></button>

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 start-0 translate-middle-y"
          (click)="prevImageequipment()" style="z-index: 1050;">
          <i class="bi bi-chevron-left fs-3"></i>
        </button>

        <img [src]="selectedImageEquipment" class="img-fluid w-100 h-100" style="object-fit: contain;"
          alt="Selected Image" />

        <button class="nav-btn btn btn-dark text-white position-absolute top-50 end-0 translate-middle-y"
          (click)="nextImageequipment()" style="z-index: 1050;">
          <i class="bi bi-chevron-right fs-3"></i>
        </button>
      </div>
    </div>
  </div>
</div>