<app-navbar></app-navbar>
<section class="py-5 pt-0  bg-light shadow-lg position-relative ">
    <div class="container-fluid px-2 text-center py-3">
        <h2 class="mb-3 Heading-font-family">{{ 'Procurement_Policy_Of_Drugs' | translate }}</h2>
    </div>
</section>
<div class="container-fluid p-0 m-0 mb-5"> <!-- Use negative margin if you want overlap -->
    <div class="row justify-content-center g-4 newpe">
        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-12 col-md-12 col-lg-12">
                <section class="container-fluid py-2">
                    <!-- <div class="card shadow p-2">
                       <h4><strong class="text-align justify-content-center d-flex ">Our Team</strong></h4>
                       
                    </div> -->
                    
                </section>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <section class="container-fluid py-2">
                    <!-- <div class="card shadow p-2">
                       <h4><strong class="text-align justify-content-center d-flex ">Our Team</strong></h4>
                       
                    </div> -->
                    <div class="card border-0 shadow p-2">
                        <h2 class="text-center justify-content-center d-flex  mb-3 pt-2 ">{{ 'Drugs_Surgical_Consumables' | translate }} </h2>
                        <!-- <h2 class="text-center justify-content-center d-flex fw-bold mb-3 ">Operational Policy of Drugs/Surgical/Consumables</h2> -->
                        <!-- <strong class="text-align justify-content-center d-flex ">Drug Tenders</strong> -->
                       
                          <p class="p-2 text-dark" >
                            Based on the indents received from the Directorate of Heath Services, Directorate of Medical Education, and request from other agencies like the local bodies etc. and depending on the budget availability the procurement plan is prepared and finalized. There will be different level of users to prepare the Procurement list, Verify the same and to approve the plan. The quantity to be procured, the distribution to the warehouses and the supply schedule etc. are finalised at this stage and procurement plan is taken for the tendering.
                             </p>
                          <h4 class="text-centerr  p-3 mb-3">
                            {{ 'Operational_policy' | translate }}
                          </h4>
                          <ul class="list-unstyled  p-2">
                            <li class="mb-3">
                              <i class="bi bi-record2-fill text-success me-2"></i>
                              Annual indent for drugs should be submitted by 30th June of each year for next financial year. This indent should only include the drug required at facility    level which is to be dispensed to patients based on prescription (This will be called general indent).
                            </li>
                            <li class="mb-3">
                              <i class="bi bi-record2-fill text-success me-2"></i>
                              CGMSC will maintain a buffer stock of 25 % (Of annual requirement) for the drugs indented by DHS. This will serve as contingent need in case of un-foreseen consumption, epidemics etc. Cost of this one time procurement will have to be borne by DHS/DME </li>
                            
                            <li class="mb-3">
                              <i class="bi bi-record2-fill text-success me-2"></i>
                              Corporation has developed an online indenting system (EDL drugs for health facilities). All health facility will be provided a log-in ID. With this login the       facility can enter annual requirement against the drugs allotted to the facility as per EDL norms (within a specified budget limit). Facilities must complete it by 15th June. Then after the concern directorate will review the indents and alters it for any or all facility if deemed necessary and submit it online latest by 30th June of each year.</li>
                              <li class="mb-3">
                                <i class="bi bi-record2-fill text-success me-2"></i>
                                Drugs required for National program, specific/special requirements, NRHM initiatives/program (i.e. SSM, WIFS etc.) Should be indented separately (This will be called special indent). This should also be submitted along with general indent i:e 15 July of each year for next financial year or at least 6 months prior to program implementation. Purchase order will be placed only after the 100 % fund is transferred to CGMSC. These drugs will be issued to CMHOs. Further distribution will be the responsibility of concerned CMHO. </li>
                              <li class="mb-3">
                                <i class="bi bi-record2-fill text-success me-2"></i>
                                Corporation will do doorstep delivery of above indented drugs up-to PHC level. Initially 6 month’s requirement of PHC and 4 months requirement of higher institutes will be distributed. There after consumption based stock refilling will be done periodically (3 month interval for PHC, 2 month for CHC and monthly for District hospitals/Medical colleges).</li>
                              <li class="mb-3">
                                <i class="bi bi-record2-fill text-success me-2"></i>
                                Liability for quantity of drugs procured by CGMSC based on any indent will remain with indenter. CGMSC will act as custodian and indenter has to pay full amount irrespective of lifting status/ consumption status of drugs or attainment of expiry due to non-lifting/ Non-consumption. </li>
                              <li class="mb-3">
                                <i class="bi bi-record2-fill text-success me-2"></i>
                                Drugs will be issued to facilities strictly based on indent bifurcation & budget allocation given by the directorate. For further requirement concern directorate can place a fresh indent.
                                </li>
                             
                          </ul>

                          <!-- <h4 class="text-center fw-bold mt-3 mb-3">Invitation Of Tenders :</h4>
                <p class="text-dark p-2">
                    Tenders will be invited after adequate publicity through State and national level news papers as well as on department website. CGMSC follows e-procurement process for tendering. Bids are invitated through online portal and after closing of tender, 1st pre-qualification bid will be evaluated on the basis of evaluation criteria which is defined in tender document. List of eligible bidders are displayed in website,after this technical  bid will be evaluated on the basis of evaluation
                    criteria mentioned in tender document.Subsequently, price bids of all technically qualified bidders will be opened.  </p>
                          <h4 class="text-center fw-bold mt-3 mb-3"> Inspection of Drug Manufacturing Company:</h4>
                <p class="text-dark p-2">
                    Quality of drugs should be given highest priority.As a part of tender evaluation MD, CGMSC may depute a team including official from state FDA along with CGMSC official or any senior CGMSC official to inspect manufacturing units with a defined protocol. Manufacturing facility, which is not up-to the benchmark standard, may be rejected. Once rejected the facility will be declared in-eligible for participation in tender up-to two subsequent years.  </p>
                          <h4 class="text-center fw-bold mt-3 mb-3">Demonstration of Medical Equipments:</h4>
                <p class="text-dark p-2">
                    Before finalization of vendors/suppliers for medical equipment demonstration the quoted/offered models may be taken. Decision to call for demonstration will be taken by MD, CGMSC depending up-on nature of equipment.A team of experts deputed by indenter/ constituted by appropriate authority of the state along with biomedical engineers of CGMSC will evaluate the equipment. The demonstrations can also be taken at bidder’s site depending up-on nature of equipment.  </p>
                          <h4 class="text-center fw-bold mt-3 mb-3">Finalization of vendor:</h4>
                <p class="text-dark p-2">
                    Tenders/vendors can be finalized irrespective of no. of bids obtained however 
                    sufficient proof for price justification should be established in case of single bid/offer.
                     Price of drugs depends upon various factors such as estimated requirement, distance between
                      manufacturing sites and delivery locations, payment terms, source of procurement (QA) etc. 
                    </p>
                          <h4 class="text-center fw-bold mt-3 mb-3">Award criteria:</h4>
                <p class="text-dark p-2">
                    Contract will be awarded to the qualified Bidder whose bid has been determined to be substantially responsive and has been determined to be the lowest evaluated bid, subject to the bidder agrees to all terms and condition of the tender. In case of non- acceptance of agreement the Purchaser will proceed to the next-lowest evaluated Bidder. This contract will be called Principal Contract. MD,CGMSC will have the rights to call other eligible firms, those are willing to match L-1 Rates. If such firms are found, then the order quantity may be dispersed in ratio of 60% for L-1 & 40% for those who match L-1 Bidder (i.e. nearest to L-1 Bidder). 
                    </p>
                          <h4 class="text-center fw-bold mt-3 mb-3">Rate contract :</h4>
                <p class="text-dark p-2">
                    The tenders floated by CGMSC will also be ‘Rate Contract’. The rates quoted by the bidder shall remain valid for one year from the date of signing of contract and the purchaser will have the option to extend the period of price firmness for a further period of up to six months, during which CGMSC or any of the user Institutions under the Government of Chhattisgarh, may place order for the supply of same item procured under this tender. Being Rate contract tenders, there will be no limit to procurement or repeat orders. 
                    </p> -->
            
                
              
                <!-- Org Structure -->
                <!-- <h3 class="text-center text-danger fw-bold mt-3">Organizational Structure</h3>
                <img src="\assets\images\organogram 2014.jpg" alt="Image 2"> -->
            
            
               
                    </div>

                </section>
            </div>
           
        </div>
    </div>
</div>
