<app-navbar></app-navbar>
<!-- test -->

<div class="container-fluid py-0">
<div class="containerr py-4">
    <section class="container-fluid ">
        <div class="card border-0 shadow p-2">
            <h2 class="text-center justify-content-center d-flex  mb-3 pt-2">{{ 'About_CGMSCL' | translate }}</h2>
            <!-- <strong class="text-align justify-content-center d-flex ">Drug Tenders</strong> -->
            <div class="text-primary fw-bold fs-4  p-2" >
                CIN No - U85110CT2010SGC022089
              </div>
              <div class="text-primary fw-bold fs-4  p-2" >
                GST No - 22AAECC4504E1ZD
              </div>
              <p class="p-2 text-dark" >
                Chhattisgarh Medical Services Corporation Limited (CGMSCL) was incorporated on 7th October 2010 under the Companies Act, 1956, and is a company under the Health & Family Welfare Department of Chhattisgarh.
              </p>
              <!-- <p class="p-2 text-dark" >
                Chhattisgarh Medical Services Corporation Limited (CGMSCL) is incorporated on 7th October 2010 under the Companies Act 1956 and that the company is limited under Health & Family Welfare Department of Chhattisgarh.
              </p> -->
              <h4 class="text-center pt-2 mb-3">
                {{ 'Main_Object' | translate }}
              </h4>
              <ul class="list-unstyled  p-2">
                <li class="mb-2">
                  <i class="bi bi-check-circle-fill text-success me-2"></i>
                  CGMSCL is established to procure, test, store and supply of all kinds and variety of generic drugs & medicines, Suture and Surgical items to the various Health facilities (Medical Colleges, District Hospitals, CHCs and PHCs) as per indent received from Health Department.
                </li>
                <li class="mb-2">
                  <i class="bi bi-check-circle-fill text-success me-2"></i>
                  CGMSCL is established for procurement, Distribution, Installation & Maintenance of all types of medical equipment and instruments required in various Health facilities in Chhattisgarh.
                </li>
                <li class="mb-2">
                  <i class="bi bi-check-circle-fill text-success me-2"></i>
                  Designing and construction of hospitals and other buildings for Health Department, Govt. of Chhattisgarh.
                </li>
              </ul>
              <h4 class="text-center  pt-2 mb-3"> {{ 'CGMSCL_Vision' | translate }}</h4>
    <p class="text-dark p-2">
      Procurement & Distribution of quality and tested drugs, medical equipment and infrastructure service concern to the health of people in Chhattisgarh state.
    </p>

    
  
    <!-- Org Structure -->
    <h3 class="text-center text-danger  mt-3">{{ 'Organizational_Structure' | translate }}</h3>
    <img src="./assets/images/Organizational Structure of CGMSC LTD. - Raipur Flowchart.png" alt="Image 2">
    <!-- <img src="./assets/images/organogram 2014.jpg" alt="Image 2"> -->


   
        </div>
      
      </section>
  </div>
  </div>
  
  <div class="card text-center text-dark mb-5" style="background-color: rgb(209, 218, 218);">
    <strong class="p-2">

        Contents owned & updated by Chhattisgarh Medical Services Corporation Ltd, Govt. of Chhattisgarh Undertaking.
© 2012-2013 Chhattisgarh Medical Services Corporation Ltd. All Rights Reserved.
Site is best viewed in Google Crome , Mozilla,IE 7 & Above.
    </strong>
</div>
  <!-- test end -->
