<app-navbar></app-navbar>
<!-- test -->

<div class="container-fluid py-0">
<div class="containerr py-4">
    <section class="container-fluid ">
        <div class="card border-0 shadow p-2">
            <h2 class="text-center justify-content-center d-flex  mb-3 pt-1"> {{ 'Procurement_Policy_Of_CGMSC' | translate }}</h2>
            <!-- <strong class="text-align justify-content-center d-flex ">Drug Tenders</strong> -->
            <!-- <div class="text-primary fw-bold fs-4  p-2" >
                CIN No - U85110CT2010SGC022089
              </div>
              <div class="text-primary fw-bold fs-4  p-2" >
                GST No - 22AAECC4504E1ZD
              </div> -->
              <p class="p-2 text-dark" >
                CGMSC is a dedicated agency for procurement and deals with sensitive items for health care need of the state where quality and timely availability of items are of paramount importance. With implementation of free drug policy in state the inherit urgency has been also increased. Hence to address the risk factors in public procurement (Complex process, Time limits, Advt. cost, Poor participation etc.) & eases the process by relaxing financial limits, Tendering process, Advt. protocol etc. An independent purchase policy will empower corporation for timely procurement, alternative sourcing of essential commodities & enhance quality assurance mechanism.
              </p>
              <h4 class="text-centerr  p-2 mb-3">
                {{ 'The_method_of_procurement' | translate }}
                
              </h4>
              <ul class="list-unstyled  p-2">
                <li class="mb-2">
                  <i class="bi bi-record2-fill text-success me-2"></i>
                  Nature of the goods/works/services.
                </li>
                <li class="mb-2">
                  <i class="bi bi-record2-fill text-success me-2"></i>
                  Estimated value of the procurement </li>
                
                <li class="mb-2">
                  <i class="bi bi-record2-fill text-success me-2"></i>
                  Requirement of standardized spares or services, in case of equipment.</li>
                  <li class="mb-2">
                    <i class="bi bi-record2-fill text-success me-2"></i>
                    Urgency of the item to be procured </li>
              </ul>
              <h4 class="text-center pt-3 mb-3">  {{ 'Invitation_Of_Tenders' | translate }}</h4>
    <p class="text-dark p-2">
        Tenders will be invited after adequate publicity through State and national level news papers as well as on department website. CGMSC follows e-procurement process for tendering. Bids are invitated through online portal and after closing of tender, 1st pre-qualification bid will be evaluated on the basis of evaluation criteria which is defined in tender document. List of eligible bidders are displayed in website,after this technical  bid will be evaluated on the basis of evaluation
        criteria mentioned in tender document.Subsequently, price bids of all technically qualified bidders will be opened.  </p>
              <h4 class="text-center  pt-3 mb-3">{{ 'Inspection_of_Drug' | translate }} </h4>
    <p class="text-dark p-2">
        Quality of drugs should be given highest priority.As a part of tender evaluation MD, CGMSC may depute a team including official from state FDA along with CGMSC official or any senior CGMSC official to inspect manufacturing units with a defined protocol. Manufacturing facility, which is not up-to the benchmark standard, may be rejected. Once rejected the facility will be declared in-eligible for participation in tender up-to two subsequent years.  </p>
              <h4 class="text-center  pt-3 mb-3">{{ 'Demonstration_of' | translate }}</h4>
    <p class="text-dark p-2">
        Before finalization of vendors/suppliers for medical equipment demonstration the quoted/offered models may be taken. Decision to call for demonstration will be taken by MD, CGMSC depending up-on nature of equipment.A team of experts deputed by indenter/ constituted by appropriate authority of the state along with biomedical engineers of CGMSC will evaluate the equipment. The demonstrations can also be taken at bidder’s site depending up-on nature of equipment.  </p>
              <h4 class="text-center  pt-3 mb-3">{{ 'Finalization_of_vendor' | translate }}</h4>
    <p class="text-dark p-2">
        Tenders/vendors can be finalized irrespective of no. of bids obtained however 
        sufficient proof for price justification should be established in case of single bid/offer.
         Price of drugs depends upon various factors such as estimated requirement, distance between
          manufacturing sites and delivery locations, payment terms, source of procurement (QA) etc. 
        </p>
              <h4 class="text-center  pt-3 mb-3">{{ 'Award_criteria' | translate }}</h4>
    <p class="text-dark p-2">
        Contract will be awarded to the qualified Bidder whose bid has been determined to be substantially responsive and has been determined to be the lowest evaluated bid, subject to the bidder agrees to all terms and condition of the tender. In case of non- acceptance of agreement the Purchaser will proceed to the next-lowest evaluated Bidder. This contract will be called Principal Contract. MD,CGMSC will have the rights to call other eligible firms, those are willing to match L-1 Rates. If such firms are found, then the order quantity may be dispersed in ratio of 60% for L-1 & 40% for those who match L-1 Bidder (i.e. nearest to L-1 Bidder). 
        </p>
              <h4 class="text-center  pt-3 mb-3">{{ 'Rate_contract' | translate }}</h4>
    <p class="text-dark p-2">
        The tenders floated by CGMSC will also be ‘Rate Contract’. The rates quoted by the bidder shall remain valid for one year from the date of signing of contract and the purchaser will have the option to extend the period of price firmness for a further period of up to six months, during which CGMSC or any of the user Institutions under the Government of Chhattisgarh, may place order for the supply of same item procured under this tender. Being Rate contract tenders, there will be no limit to procurement or repeat orders. 
        </p>

    
  
    <!-- Org Structure -->
    <!-- <h3 class="text-center text-danger fw-bold mt-3">Organizational Structure</h3>
    <img src="\assets\images\organogram 2014.jpg" alt="Image 2"> -->


   
        </div>
      
      </section>
  </div>
  </div>
  
  <div class="card text-center text-dark mb-5" style="background-color: rgb(209, 218, 218);">
    <strong class="p-2">

        Contents owned & updated by Chhattisgarh Medical Services Corporation Ltd, Govt. of Chhattisgarh Undertaking.
© 2012-2013 Chhattisgarh Medical Services Corporation Ltd. All Rights Reserved.
Site is best viewed in Google Crome , Mozilla,IE 7 & Above.
    </strong>
</div>
  <!-- test end -->
