

<!-- <app-navbar></app-navbar>
<div class="card">
  
  <div class="card body">
    <div>
      hi
    </div>

  </div>

</div> -->
<!-- <div class="bg-light"> size="small"-->
<!-- <div class="bg-light" style="background-color: 	#d8fdf8;" > line-scale-party ball-atom-->
<!-- <app-navbar></app-navbar> -->
<!-- "node_modules/ngx-spinner/animations/pacman.css" , -->
<ngx-spinner bdColor="rgba(0,0,0,0.5)" size="medium" type="pacman">
  <p style="color: white"> Please wait...</p>
</ngx-spinner>

<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-beat" [fullScreen]="true">
  <p style="color: white"> Please wait... </p>
</ngx-spinner> -->
<!-- <div class="bg-lightt"  > -->
<!-- <div class="bg-lightt" style="background-color: 	#fbe7ac;" > style="background-color: 	#ffdec2;"-->
  <!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  size="medium"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true">
</ngx-spinner> -->
<!-- <div *ngIf="!isOnline" class="alert alert-danger text-center">
  No internet connection. Please check your network.
</div> -->
  <router-outlet></router-outlet>
<!-- </div> -->





  
