<app-navbar></app-navbar>
<section class="container-fluid py-2">
    <div class="card shadow p-2">
      <h4><strong class="text-align justify-content-center d-flex p-2">{{ 'Infrastructure_Tenders' | translate }}</strong></h4>
       
    </div>

</section>
     <div class="" style="padding-right: 0px;  padding-left: 20px; padding-top: 10px; padding-bottom: 50px;">
     <div class="container-fluid card row shadow">
        <div class="d-flex justify-content-between align-items-center m-2">
          <div class="filter-field flex-grow-1">
            <input type="text" class="form-control" placeholder="Search Tender" (keyup)="applyTextFilter($event)">
          </div>
          <!-- <div class="export-menu-container">
            <button type="button" class="btn border rounded btn-outline-secondary" mat-button
              [matMenuTriggerFor]="exportMenu">Export</button>
            <mat-menu #exportMenu="matMenu">
              <button mat-menu-item
                (click)="exporter.exportTable('xlsx', { fileName: 'WorksOrderD', sheet: 'WorksOrderD', Props: { Author: 'cgmsc' }})">Excel</button>
              <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
              <button mat-menu-item (click)="exporter.exportTable('json')">JSON</button>
              <button mat-menu-item (click)="exporter.exportTable('txt')">TXT</button>
              <button mat-menu-item (click)="exportToPDF()">PDF</button>
            </mat-menu>
          </div> -->
        </div>
  
        <div class="table-responsive ">
          <!-- <table class="table table-bordered table-striped border rounded " mat-table matTableExporter
            [dataSource]="dataSource" #exporter="matTableExporter" matSort sort> -->
            <table class="table border rounded " mat-table matTableExporter
            [dataSource]="dataSource" #exporter="matTableExporter" matSort >
            <!-- #sort="matSort" -->
        <!-- <table class="table table-bordered table-striped border rounded " mat-table [dataSource]="dataSource"
         matTableExporter #exporter="matTableExporter" matSort #sort="matSort" > -->

            <!-- <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
              </ng-container>
            
              <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tender Reference </th>
                <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
              </ng-container> -->
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                <td  mat-cell   class="sno-cell"
                     *matCellDef="let el"
                     [attr.rowspan]="el.rowSpan > 0 ? el.rowSpan : null"
                     [hidden]="el.rowSpan === 0">
                  {{ el.sno }}
                </td>
              </ng-container>
              
              <!-- Subject column -->
              <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tender Reference </th>
                <td  mat-cell  class="subject-cell"
                     *matCellDef="let el"
                     [attr.rowspan]="el.rowSpan > 0 ? el.rowSpan : null"
                     [hidden]="el.rowSpan === 0">
                     <span *ngIf="isNewContent(el.content_Publising_Date)" class="badge-new">New</span>&nbsp; {{ el.subject }}
                  <a class="btn btn-xs btn-outline-light align-items-center border-0 rounded  p-1 m-0 bg-transparent "
                      mat-button (click)="onButtonClick(el.content_Registration_Id)"><i class="bi bi-folder2-open me-0 gradient-heading fs-6"></i></a>
                </td>
              </ng-container>
              <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 	Tender Ref. </th>
                <td mat-cell *matCellDef="let element"> {{element.url}} </td>
              </ng-container>
              <!-- 'sno','subject','caption','content_Publising_Date','action' -->
              <ng-container matColumnDef="caption">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Document  </th>
                <td mat-cell *matCellDef="let element"> {{element.caption}} </td>
              </ng-container>
              <ng-container matColumnDef="content_Subject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Document Name </th>
                <td mat-cell *matCellDef="let element"> {{element.content_Subject}} </td>
              </ng-container>
              <ng-container matColumnDef="content_Publising_Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Publishing Date </th>
                <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header>Notice Publish Date  </th> -->
                <!-- <td mat-cell *matCellDef="let element"> {{element.content_Publising_Date?.toString() | date: 'dd/MM/yyyy'}} </td> -->
                <td mat-cell *matCellDef="let element">{{ convertToDate(element.content_Publising_Date) | date: 'dd/MM/yyyy' }}</td>
              </ng-container>
              <!-- <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Attachments</th>
                <td mat-cell *matCellDef="let element">
                  <span class="d-flex  flex-row-reverse p-2 ">
                    <button class="btn  btn-sm btn-outline-light align-items-center border rounded" mat-button
                      (click)="onButtonClick(element.attachment_Id)">
                      <i class="bi bi-folder2-open me-0 gradient-heading"></i>
                    </button>
                  </span>
                </td>
              </ng-container>
            
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
              <!-- <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Attachments</th>
                <td  class="other-cell" mat-cell *matCellDef="let element">
                  <span class="d-flex  flex-row-reverse p-0 m-0 ">
                    <button class="btn btn-xs btn-outline-light align-items-center border-0 rounded  p-1 m-0 bg-transparent " mat-button
                      (click)="onButtonClick(element.attachment_Id)">
                      <i class="bi bi-folder2-open me-0 gradient-heading fs-6"></i>
                    </button>
                  </span>
                </td>
              </ng-container> -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Download</th>
                <td mat-cell *matCellDef="let element">
                  <span class="d-flex  flex-row-reverse p-0 m-0 ">
                    <button class="btn btn-xs btn-outline-light align-items-center border-0 rounded  p-1 m-0 bg-transparent" mat-button
                      (click)="GetContentAttachment(element.content_Registration_Id)">
                     
                      <i class="bi bi-file-earmark-pdf me-0 gradient-heading"></i>
                    </button>
                  </span>
                </td>
              </ng-container>
              
            <tr  mat-row *matRowDef="let row; columns: displayedColumns;"
              [class.group-start]="row.rowSpan > 0"
              [ngClass]="{
               'zebra-even': row.groupIndex % 2 === 0,
               'zebra-odd' : row.groupIndex % 2 === 1
                }"></tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          </table>
          <mat-paginator #paginator [pageSizeOptions]="[5,10, 15, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div> 
      </div> 
  
  
