<app-navbar></app-navbar>
<!-- theme-navbar -->

<section class="py-5 pt-0 text-darkk bg-white shadow-lg position-relative announce-colorr">
    <div class="container-fluid px-2 text-center py-3">
        <h3 class="mb-3 Heading-font-family p-1">{{ 'Other_Department_Recruitment' | translate }}</h3>
    </div>
</section>

<!-- REMOVE position-absolute and use normal flow style="margin-top: -5rem !important;"-->
<div class="container-fluid p-0 m-0"> <!-- Use negative margin if you want overlap -->
    <div class="row justify-content-center g-4 newpe">
        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-12 col-md-12 col-lg-12">
                <section class="container-fluid py-2">
                    <!-- <div class="card shadow p-2">
                       <h4><strong class="text-align justify-content-center d-flex ">Our Team</strong></h4>
                       
                    </div> -->

                </section>
                <div class=""
                    style="padding-right:  0px;  padding-left: 24px; padding-top: 10px; padding-bottom: 50px;">
                    <div class="container-fluid card row shadow ">
<div class="d-flex justify-content-between align-items-center m-2">

    <div class="filter-field flex-grow-1">
                                <ng-select class="form-control" [items]="schemeData" bindLabel="recruitmentScheme"
                                    bindValue="recruitmentId" [(ngModel)]="coreScheme" name="coreScheme"
                                    (change)="onselectScheme($event)" #emailidField="ngModel"
                                    [placeholder]="'Select Department'" [searchable]="true" [clearable]="true"
                                    [appendTo]="'body'" required>
                                </ng-select>
                                <!-- <input type="text" class="form-control" placeholder="Filter" (keyup)="applyTextFilter($event)"> -->
                            </div>
                           
                            <div class="filter-field flex-grow-1">
                                <ng-select class="form-control" [items]="categoryData" bindLabel="contentCategoryName"
                                    bindValue="contentCategoryCode" [(ngModel)]="coreCategory" name="coreCategory"
                                    (change)="onselectCategory($event)" #emailidField="ngModel"
                                    [placeholder]="'Select Category'" [searchable]="true" [clearable]="true"
                                    [appendTo]="'body'" required>
                                </ng-select>
                                <!-- <input type="text" class="form-control" placeholder="Filter" (keyup)="applyTextFilter($event)"> -->
                            </div>

</div>

                        <div class="d-flex justify-content-between align-items-center m-2">
                            <div class="filter-field flex-grow-1">
                                <input type="text" class="form-control" placeholder="Search "
                                    (keyup)="applyTextFilter($event)">
                            </div>

                            

                            <!-- <div class="export-menu-container">
                                <button type="button" class="btn border rounded btn-outline-secondary" mat-button
                                    [matMenuTriggerFor]="exportMenu">Export</button>
                                <mat-menu #exportMenu="matMenu">
                                    <button mat-menu-item
                                        (click)="exporter.exportTable('xlsx', { fileName: 'WorksOrderD', sheet: 'WorksOrderD', Props: { Author: 'cgmsc' }})">Excel</button>
                                    <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
                                    <button mat-menu-item (click)="exporter.exportTable('json')">JSON</button>
                                <button mat-menu-item (click)="exporter.exportTable('txt')">TXT</button>
                                    <button mat-menu-item (click)="exportToPDF()">PDF</button>
                                </mat-menu>
                            </div> -->
                        </div>

                        <div class="table-responsive ">
                            <table class="table table-bordered table-striped border rounded " mat-table matTableExporter
                                [dataSource]="dataSource" #exporter="matTableExporter" matSort #sort="matSort">

                                <ng-container matColumnDef="sno">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                                    <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                                </ng-container>


                                <ng-container matColumnDef="content_Subject">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
                                    <td mat-cell *matCellDef="let element"> {{element.content_Subject}} </td>
                                </ng-container>

                                <ng-container matColumnDef="contentCategoryName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                                    <td mat-cell *matCellDef="let element"> {{element.contentCategoryName}} </td>
                                </ng-container>


                                <ng-container matColumnDef="content_Publising_Date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Publishing Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.content_Publising_Date}} </td>
                                </ng-container>


                                <ng-container matColumnDef="expiry_Date_of">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Date (Apply) </th>
                                    <td mat-cell *matCellDef="let element"> {{element.expiry_Date_of}} </td>
                                </ng-container>

                                <ng-container matColumnDef="countATT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. File </th>
                                    <td mat-cell *matCellDef="let element"> {{element.countATT}} </td>
                                </ng-container>



                                <ng-container matColumnDef="recruitmentScheme">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recruitment For</th>
                                    <td mat-cell *matCellDef="let element"> {{element.recruitmentScheme}} </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Download</th>
                                  <td class="" mat-cell *matCellDef="let element">
                                    <span class="d-flex  flex-row-reverse p-2 ">
                                      <button class="btn btn-sm btn-outline-light align-items-center border rounded  " mat-button
                                        (click)="onButtonClick(element.content_Registration_Id)">
                                        <i class="bi bi-folder2-open me-0 gradient-heading"></i>
                                      </button>
                                    </span>
                                  </td>
                                </ng-container>


                                <!-- <ng-container matColumnDef="action">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Attachments</th>
                                  <td class="" mat-cell *matCellDef="let element">
                                    <span class="d-flex  flex-row-reverse p-2 ">
                                      <button class="btn btn-sm btn-outline-light align-items-center border rounded  " mat-button
                                        (click)="onButtonClick(element.attachment_Id)">
                                        <i class="bi bi-folder2-open me-0 gradient-heading"></i>
                                      </button>
                                    </span>
                                  </td>
                                </ng-container> -->

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[5,10, 15, 30]"
                                showFirstLastButtons></mat-paginator>
                            <!-- <mat-paginator #paginator  [pageSizeOptions]="[5,10, 15, 30]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="card shadow-lg p-4 border bg-white rounded h-100">
                <h5 class="card-title border-bottom border-3 pb-2 text-center gradient-heading "><strong>Drug Tenders</strong></h5>
                 <div class="card-body px-0 pt-2 pb-3" style="height: 300px; overflow: hidden; position: relative;">
                    <div
                    class="scroll-container">
                    <div  class="mb-3" style="text-align: justify;">
                      <a class="nav-link tender-link" >fvxfvbxcv
                      </a>
                    </div>
                    <div class="text-end mt-3">
                     
  
                      <a class="btn btn-outline-light border rounded btn-sm d-inline-flex align-items-center theme-navbar text-white" routerLink="/TenderDrug">
                        <i class="bi bi-eye me-2"></i> View More...
                      </a>
                    </div>
                  </div>
                </div> 
              </div> -->
            </div>

        </div>
    </div>
</div>