<app-navbar></app-navbar>
<!-- theme-navbar -->

<section class="py-5 pt-0 text-darkk bg-white shadow-lg position-relative announce-colorr">
    <div class="container-fluid px-2 text-center py-3">
      <h3 class="mb-3 Heading-font-family">{{ 'Our_Team' | translate }}</h3>
    </div>
  </section>
  
  <!-- REMOVE position-absolute and use normal flow style="margin-top: -5rem !important;"-->
  <div class="container-fluid p-0 m-0" > <!-- Use negative margin if you want overlap -->
    <div class="row justify-content-center g-4 newpe" >
      <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-12 col-md-12 col-lg-12" >
                <section class="container-fluid py-2">
                    <!-- <div class="card shadow p-2">
                       <h4><strong class="text-align justify-content-center d-flex ">Our Team</strong></h4>
                       
                    </div> -->
                  
                  </section>
                       <div class="" style="padding-right:  0px;  padding-left: 24px; padding-top: 10px; padding-bottom: 50px;" >
                       <div class="container-fluid card row shadow " >
                          <div class="d-flex justify-content-between align-items-center m-2">
                            <div class="filter-field flex-grow-1">
                              <input type="text" class="form-control" placeholder="Search" (keyup)="applyTextFilter($event)">
                            </div>

                            <div class="filter-field flex-grow-1" *ngIf="department.length > 0">
                                <ng-select class="form-control"
                                [items]="department"
                                bindLabel="coreDept"
                                bindValue="coreDept"
                                [(ngModel)]="coreDepts"
                                name="coreDept"
                                (change)="onselectGetDept($event)"
                                 #emailidField="ngModel"
                                 [placeholder]="!coreDepts ? 'Select Department : ' : ''"
                                 [searchable]="true"
                                 [clearable]="true" 
                                 [appendTo]="'body'" 
                                 required class="form-control">
                              </ng-select>
                              <!-- <input type="text" class="form-control" placeholder="Filter" (keyup)="applyTextFilter($event)"> -->
                            </div>

                            <div class="export-menu-container" >
                              <button type="button" class="btn border rounded btn-outline-secondary" mat-button
                                [matMenuTriggerFor]="exportMenu">Export</button>
                              <mat-menu #exportMenu="matMenu">
                                <button mat-menu-item
                                  (click)="exporter.exportTable('xlsx', { fileName: 'WorksOrderD', sheet: 'WorksOrderD', Props: { Author: 'cgmsc' }})">Excel</button>
                                <button mat-menu-item (click)="exporter.exportTable('csv')">CSV</button>
                                <!-- <button mat-menu-item (click)="exporter.exportTable('json')">JSON</button>
                                <button mat-menu-item (click)="exporter.exportTable('txt')">TXT</button> -->
                                <!-- <button mat-menu-item (click)="exportToPDF()">PDF</button> -->
                              </mat-menu>
                            </div>
                          </div>
                    
                          <!-- <div class="table-container table-responsive table-container mat-elevation-z8" > -->
                          <div class="table-responsive"  >
                              <table class="table table-bordered table-striped border rounded " mat-table matTableExporter
                              [dataSource]="dataSource" #exporter="matTableExporter" matSort #sort="matSort">
                              
                              <ng-container matColumnDef="sno">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                                  <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                                </ng-container>
                              
                                <ng-container matColumnDef="fullName" >
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> 	Name </th>
                                  <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="designation" >
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> 	designation </th>
                                  <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                                </ng-container>
                                <ng-container matColumnDef="department" >
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Document  </th>
                                  <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                                  <!-- 'sno','fullName','designation','department','emailId','contactNo','action' -->
                                </ng-container>
                                <ng-container matColumnDef="emailId" >
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Id </th>
                                  <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
                                </ng-container>
                                <ng-container matColumnDef="contactNo" >
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header> contactNo </th>
                                  <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="action">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Attachments</th>
                                  <td class="" mat-cell *matCellDef="let element">
                                    <span class="d-flex  flex-row-reverse p-2 ">
                                      <button class="btn btn-sm btn-outline-light align-items-center border rounded  " mat-button
                                        (click)="onButtonClick(element.attachment_Id)">
                                        <i class="bi bi-folder2-open me-0 gradient-heading"></i>
                                      </button>
                                    </span>
                                  </td>
                                </ng-container> -->
                                <!-- *matHeaderRowDef="displayedColumns; sticky: true" -->
                                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr> -->
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[5,10, 15, 30]" showFirstLastButtons></mat-paginator>
                            <!-- <mat-paginator #paginator  [pageSizeOptions]="[5,10, 15, 30]" showFirstLastButtons></mat-paginator> -->
                          </div>
                        </div> 
                        </div> 

                        <!-- <ng-template #OtherData class="tab-content pt-4" > 
                          <div class="card text-center">
                            <div class="card-body">
                              <h3 class="card-title mb-0">No data available at the moment.</h3>
                            </div>
                          </div>
                        </ng-template> -->
                        <style>
                          .mat-header-row {
                            position: sticky;
                            top: 0;
                            z-index: 100;
                            background: white;
                          }
                        </style>
             
            </div>
        
          </div>
        </div>
      </div>




  
  
