<app-navbar></app-navbar>
<!-- test -->

  

<div class="container-fluid py-0">
   

<div class="containerr py-3">
    <!-- <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed text-dark" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree">
              Accordion
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse"
               aria-labelledby="headingThree">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default...
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="accordion" id="accordionExample">
        <div class="accordion-item custom-accordion">
          <h2 class="accordion-header">
            <button 
              class="accordion-button text-dark fw-bold custom-btn"
              [class.collapsed]="!isAccordionOpen"
              (click)="toggleAccordion()" 
              type="button"
              [attr.aria-expanded]="isAccordionOpen">
              Toggle Section
            </button>
          </h2>
      
          <div class="accordion-collapse custom-collapse" [class.show]="isAccordionOpen">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default and now animates smoothly on open/close...
            </div>
          </div>
        </div>
      </div> -->
      
      <!-- <div class="accordion" id="accordionExample">
        <div class="accordion-item custom-accordion">
            <h2 class="accordion-header">
                <button 
                  class="accordion-button text-dark fw-bold custom-btn"
                  [class.collapsed]="!isAccordionOpen"
                  (click)="toggleAccordion()" 
                  type="button"
                  [attr.aria-expanded]="isAccordionOpen">
                  Click here
                </button>
              </h2>
      
          <div #accordionContent 
               class="accordion-collapse custom-collapse" 
               [style.height.px]="isAccordionOpen ? currentHeight : 0"
               [style.opacity]="isAccordionOpen ? 1 : 0"
               [style.padding]="isAccordionOpen ? '1rem' : '0 1rem'"
               (transitionend)="onTransitionEnd()">
            <div class="accordion-body text-dark" #contentWrapper>
              <strong>This is the third item's accordion body.</strong> It is hidden by default and now animates much more smoothly...
            </div>
          </div>
        </div>
      </div> -->
      
      
      
      
      
      
    <section class="container-fluid ">
        <div class="card border-0 shadow p-2">
            <h2 class="text-center justify-content-center d-flex  mb-3 ">{{ 'Organizational_Structure' | translate }}
            </h2>
            

    
  
    <!-- Org Structure -->
    <!-- <h3 class="text-center text-danger fw-bold mt-3">Organizational Structure</h3> -->
    <img src="./assets/images/Organizational Structure of CGMSC LTD. - Raipur Flowchart.png" alt="Image 2">
    <!-- <img src="./assets/images/organogram 2014.jpg" alt="Image 2"> -->


   
        </div>
      
      </section>
  </div>
  </div>
  
  <div class="card text-center text-dark mb-5" style="background-color: rgb(209, 218, 218);">
    <strong class="p-2">

        Contents owned & updated by Chhattisgarh Medical Services Corporation Ltd, Govt. of Chhattisgarh Undertaking.
© 2012-2013 Chhattisgarh Medical Services Corporation Ltd. All Rights Reserved.
Site is best viewed in Google Crome , Mozilla,IE 7 & Above.
    </strong>
</div>
  <!-- test end -->
