
 <google-map
  height="400px"
  width="100%"
  [center]="center"
  [zoom]="zoom">
  
  <map-marker 
    *ngFor="let warehouse of warehouseInfo"
    [position]="warehouse.position"
    [title]="warehouse.warehousename"
    (mapClick)="onMarkerClick(warehouse, marker)"
    #marker="mapMarker">
  </map-marker>

  <map-info-window #infoWindow="mapInfoWindow">
    <h3 class="border-bottom">{{selectedWarehouse?.warehousename}}</h3>
    <p class="text-dark"><strong>Address:{{ selectedWarehouse?.address }}</strong> </p>
    <p><strong>Email:{{ selectedWarehouse?.email }}</strong> </p>
    <p><strong>Number of Facilities:{{ selectedWarehouse?.nosfac }}</strong> </p>
    <p><strong>Contact:{{ selectedWarehouse?.moB1 }}</strong> </p>
  </map-info-window>
</google-map> 

